/*-------------------------
        the fonts
---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

.inter{
    font-family: 'Inter', sans-serif;
}
.merriweather{
    font-family: 'Merriweather', serif;
}

/*-------------------------
     the header section
---------------------------*/
.header{
    margin: 50px 100px 50px;
    padding: 150px 200px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.header-subtitle{
    text-align: center;
    font-size: 32px;
    color: #FFF;
}
.header-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}
/*-------------------------
     the off section
---------------------------*/
.off-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.off{
    color: #F00;
    font-size: 88px;
    font-weight: bold;
}
.off-text{
    color: #F00;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;

}
.off-category{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}
/*-------------------------
     the party section
---------------------------*/
.party-section{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("images/Vectorrr.png");
    background-repeat: no-repeat;
    margin: 0px 100px 50px;
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.party-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 30px;
}
.btn-party{
    color: #FFF;
    /* text-align: center; */
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
/*-------------------------
     the join now section
---------------------------*/
.join-Now{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0px 100px 50px;
    padding: 30px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.join-details{
    text-align: center;
}
.Join-Title{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.join-Text{
    color: #F00;
}
.btn-join{
    background-color: #F00;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
/*-------------------------
     the upcoming section
---------------------------*/
.upcoming{
    margin: 120px 100px 50px;
    display: flex;
    align-items: center;
}
.upcoming-subtitle{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.upcoming-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.upcoming-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px; 
}
.upcoming-image{
    margin: auto;
    padding: 20px;
    border: 15px solid #F00;
    border-radius: 50%;
}
.upcoming3-title{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
/*-------------------------
    holiday sell section
---------------------------*/
.holiday{
    margin:150px 100px 50px;
}
.holiday-details{
    margin: auto;
    padding-bottom: 50px;
}
.holiday-subtitle{
    color: #070211;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.holiday-title{
    color: #070211;
    font-size: 72px;
    text-align: center;
    font-weight: 900;
}
.holiday-text{
    color:#F00;
}
.holiday-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.holiday-container{
    background-image: url("images/Rectangle\ 1.png"), url("images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: top right, bottom;
    position: relative;
}
.holiday-container > img{
    text-align: center;
}
.float2{
    position: absolute;
    right: 20%;
    bottom: 40%;
}
/*-------------------------
   awesome portfolio section
---------------------------*/
.portfolio{
    margin: 120px 100px;
}
.portfolio-subtitle{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}
.portfolio-container > img{
    display: block;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    transition: opacity 0.3s ease;
}
.portfolio-container > img:hover .overlay{
    opacity: 1;
}
.portfolio-container{
    padding-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}
/*-------------------------
    newsletter section
---------------------------*/
.newsLetter{
    margin: 120px 100px;
    padding: 80px 100px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 10px;
}
.newsLetter-image{
    text-align: center;
}
.newsLetter-title{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.newsLetter-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
.subscription{
    text-align: center;
    padding-top: 50px;
    /* width: max-content; */
}
.input-email{
    color: rgba(7, 2, 17, 0.30);
    padding: 25px;
    width: 300px;
    border: none;
    border-radius: 25px 0px 0px 25px;
    font-size: 18px;
}
.btn-subscribe{
    background-color: #F00;
    margin-left: -5px;
    padding: 25px;
    width: 200px;
    border: none;
    border-radius: 0px 25px 25px 0px;
    font-size: 18px;
}
/*-------------------------
    the footer section
---------------------------*/
.footer{
    background-color: #070211;
    color: #FFF;
    margin: -10px;
    padding: 120px 100px;
}
.billing{
    display: flex;
    justify-content: space-between;
}
.physical{
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
}
.virtual-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-media{
    padding: 20px 0px 20px;
    text-align: center;
    letter-spacing: 20px;
}
.line{
    background-color:rgba(255, 255, 255, 0.15);
}
.copyright{
    display: flex;
    justify-content: space-between;
}

/*-----------------------------------
    6 hours of my 10000 hrs journey
--------------------------------------*/